// body {
//   background: #F6F6F7;
// }
.shadow-custom {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.shadow-custom-project {
  box-shadow: 0px 4px 6px -1px rgba(15, 23, 42, 0.08);
}
// .text-color {
//   color: #6D7175;
// }
.transform-translate-x {
  transform: translateX(-50%);
}
.transform-translate-y {
  transform: translateY(-50%);
}
.transform-translate-xy {
  transform: translate(-50%, -50%);
}
.icon-color {
  color: #5C5F62;
}
.custom-hover {
  &:hover {
    & path {
      transition: all 0.3s ease;
      stroke: #4338ca;
    }
  }
}